<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="observability-demo" />
    <property name="GRAYLOG_HOST" value="${GRAYLOG_HOST:-graylog}" />
    <property name="GRAYLOG_PORT" value="${GRAYLOG_PORT:-12201}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>${GRAYLOG_HOST}</graylogHost>
        <port>${GRAYLOG_PORT}</port>
        <version>1.1</version>
        <facility>${APP_NAME}</facility>
        <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</timestampPattern>
        <stackTracePattern>%ex{full}</stackTracePattern>
        <includeFullMdc>true</includeFullMdc>
        <includeCallerData>true</includeCallerData>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <originHost>${HOSTNAME}</originHost>
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeLevelName>true</includeLevelName>
            <includeThreadName>true</includeThreadName>
            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%logger{10}</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </fullPatternLayout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="GELF"/>
    </root>
</configuration>
